* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    overflow-x: hidden;
}

video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;

    margin: 0 !important;
    overflow-x: hidden;
    z-index: -1;
}

.fontBig {
    font-size: 1.5em;
    line-height: 1.5em;
}

.row {
    padding: 2em;
    margin-bottom: 2em !important;
}

label {
    color: aliceblue;
    background-color: rgb(88, 100, 135);
    border-radius: 5px;
}

.result {
    background-color: rgba(255, 233, 205, 0.904);
}

.btn {
    color: aliceblue;
    background-color: rgb(88, 100, 135);
}

.btn:hover,
.btn:focus {
    color: aliceblue;
    background-color: rgb(90, 117, 201);
    box-shadow: rgb(79, 127, 178) 0px 20px 30px -10px;
}

.animate__fadeIn {
    animation-duration: 2s;
}
